/* CSS crunched with Crunch - http://crunchapp.net/ */
.12px {
  font-size: 12px;
  font-size: 0.75rem;
}
.13px {
  font-size: 13px;
  font-size: 0.8175rem;
}
.14px {
  font-size: 14px;
  font-size: 0.875rem;
}
.15px {
  font-size: 15px;
  font-size: 0.9375rem;
}
.18px {
  font-size: 18px;
  font-size: 1.125rem;
}
.automargin {
  margin-left: auto;
  margin-right: auto;
}
/*Transition*/
.x {
  background-repeat: repeat-x;
}
/*fonts variables*/
.fontbutton {
  font-size: 0.9em;
  font-family: 'allerregular', Arial;
}
.driodbutton {
  font-size: 0.8125rem;
  font-family: 'Driod Sans', Arial;
  font-weight: 800;
}
/*checking styles*/
.chk {
  border: 1px solid red;
}
.chk1 {
  background-color: #666;
}
/*************all icons span styles for theme of QME ********/
.activityicon {
  background: url('../images/sprite.png') no-repeat -3px -135px;
  width: 24px;
  height: 23px;
  display: block;
  float: left;
  margin-top: -2px;
  padding-right: 9px;
  margin-left: -10px;
}
.newsicon {
  background: url('../images/sprite.png') no-repeat -3px -135px;
  width: 24px;
  height: 23px;
  display: block;
  float: left;
  margin-top: -2px;
  padding-right: 9px;
  margin-left: -10px;
}
.likeicon {
  float: left;
  display: block;
  cursor: pointer;
  background: url('../images/iconscomments.png') no-repeat -1px 0;
  height: 15px;
  margin-top: -1px;
  line-height: 18px;
}
.likeicon:hover {
  background: url('../images/iconscomments.png') no-repeat -1px -18px;
}
.shareicon {
  float: left;
  display: block;
  cursor: pointer;
  background: url('../images/iconscomments.png') no-repeat -111px -2px;
  height: 14px;
  line-height: 14px;
}
.shareicon:hover {
  background: url('../images/iconscomments.png') no-repeat -111px -19px;
}
.commenticon {
  float: left;
  display: block;
  cursor: pointer;
  background: url('../images/iconscomments.png') no-repeat -261px -1px;
  height: 13px;
  line-height: 13px;
}
.commenticon:hover {
  background: url('../images/iconscomments.png') no-repeat -261px -20px;
  height: 13px;
}
.qtagicon {
  float: left;
  display: block;
  cursor: pointer;
  background: url('../images/iconscomments.png') no-repeat -415px -2px;
  height: 13px;
  line-height: 13px;
}
.qtagicon:hover {
  background: url('../images/iconscomments.png') no-repeat -415px -20px;
}
/***********News tab icons ....................*/
.relevant_icon {
  float: left;
  display: block;
  cursor: pointer;
  background: url('../images/sprite.png') no-repeat -8px -559px;
  width: 13px;
  height: 17px;
  margin: 5px 6px 0px -5px;
}
.city_icon {
  float: left;
  display: block;
  cursor: pointer;
  background: url('../images/sprite.png') no-repeat -4px -601px;
  width: 20px;
  height: 18px;
  margin: 5px 6px 0px -5px;
}
.qmunity_icon {
  float: left;
  display: block;
  cursor: pointer;
  background: url('../images/sprite.png') no-repeat -2px -652px;
  width: 19px;
  height: 19px;
  margin: 5px 6px 0px -5px;
}
