.SelectTextBox .selectbox { display: block; border: 0px; font-size:16px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 4px; width:100% !important; height: 30px; line-height:30px; cursor: pointer; color:#000000; text-align: left; background:url(../images/select-btn.png) no-repeat right top #fff; border-radius:4px; border:1px solid #e88532; z-index:99999; }
div.selectbox-wrapper { border: 0px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px; overflow: auto; width: 100% !important; position: absolute;  text-align: left; line-height:20px; color: #656565; background-color: #fff; border:1px solid #e88532; color:#333333; max-height:200px;}
div.selectbox-wrapper ul { padding: 0px; margin: 0px; list-style-type: none; font-size: 14px; }
div.selectbox-wrapper ul li.selected { background-color: #a1a8b0; color:#fff; }
div.selectbox-wrapper ul li.current { background-color: #a1a8b0; color:#fff; }
div.selectbox-wrapper ul li { display: block; margin: 0px; padding: 2px; cursor: pointer; list-style-type: none; }

.bro_cmp_box{ position:relative; width:180px; float:left;  border-radoius:4px; z-index:92; margin-bottom:8px; margin-right:20px; margin-left:10px;}
.bro_cmp_box1{ position:relative; width:180px; float:left; border-radoius:4px; z-index:91; margin-bottom:7px; margin-right:0px; margin-left:10px;z-index: 9999;}
.bro_cmp_box2{ position:relative; width:180px; float:left; border-radoius:4px; z-index:90; margin-bottom:15px; margin-right:20px; margin-left:10px;}

.left_thre_sect{ width:400px; float:left; margin-top:27px; }
