.12px {
  font-size: 12px;
  font-size: 0.75rem;
}
.13px {
  font-size: 13px;
  font-size: 0.8175rem;
}
.14px {
  font-size: 14px;
  font-size: 0.875rem;
}
.15px {
  font-size: 15px;
  font-size: 0.9375rem;
}
.18px {
  font-size: 18px;
  font-size: 1.125rem;
}
.24px {
  font-size: 24px;
  font-size: 1.5rem;
}
.automargin {
  margin-left: auto;
  margin-right: auto;
}
.innershadow {
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.9);
}
/*Transition*/
.x {
  background-repeat: repeat-x;
}
/*fonts variables*/
.fontbutton {
  font-size: 0.9em;
  font-family: 'allerregular', Arial;
}
.driodbutton {
  font-size: 0.8125rem;
  font-family: 'Driod Sans', Arial;
  font-weight: 800;
}
/*checking styles*/
.chk {
  border: 1px solid red;
}
.chk1 {
  background-color: #666;
}
ol,
ul,
ul li {
  list-style: none;
}
html,
body,
#wrapouter {
  height: 100%;
}
html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body > #wrapouter {
  height: auto;
  min-height: 100%;
}
body {
  background: #f7f7f7 url(../images/headerbg.png) repeat-x;
  height: auto;
}
.header_small {
  background: #f7f7f7 url(../images/headerbg_small.png) repeat-x !important;
  height: auto;
}
/*Opera Fix*/
body:before {
  /* thanks to Maleika (Kohoutec)*/

  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J */
}
#wrapinner {
  background: transparent;
  overflow: auto;
  padding-bottom: 100px;
  /*size of the footer height */

  overflow: visible;
}
#header {
  background: transparent;
  height: 106px;
  z-index: 100;
  position: relative;
}
#slider_wrap {
  background: #930;
  height: 349px;
  margin-left: -25px;
  z-index: 5;
  position: relative;
  margin-top: 1px;
}
#slider_wrap img {
  background: #f4f4f4;
  padding: 0 10px 10px 10px;
  border: 1px solid #d4d4d4;
  border-top: 0px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
#content_wrap {
  background: transparent;
  min-height: 450px;
  position: relative;
}
#outerfoot {
  background: url(../images/footerbg.png) repeat-x;
  width: 100%;
  height: 331px;
  padding: 0;
}
#footer_wrap {
  background: transparent;
  position: relative;
  height: 280px;
  clear: both;
  margin: 0 auto;
  width: 940px;
  padding: 0 10px /*margin-top: -150px;*/ /* negative value of footer height */;
}
#footer_top {
  height: 243px;
  width: 100%;
  color: #efefef;
  font-size: 0.8em;
  padding-top: 35px;
}
#footer_bottom {
  height: 40px;
  line-height: 20px;
  text-align: center;
  color: #ededef;
  font-size: 0.75em;
}
#footer_bottom span {
  display: block;
  line-height: 12px;
  margin-top: -10px;
}
/*********************header left area ******************/
#logo {
  position: reletive;
  margin-left: 18px;
  margin-top: 2px;
}
/*#logo a{
	font-size:0px;
	background:url(../images/logo.png) top left no-repeat;
	display:block;
	height:101px;
	width:101px;
	
}

#logo a:hover{
	background:url(../images/logo.png) bottom left no-repeat;
	
}*/
/*#feedback {
  margin-left: -6px;
  position: fixed;
  top: 150px;
}*/
.checkr {
  border: 1px solid red;
}
.checkb {
  border: 1px solid blue;
}
a {
  color: #ff9216;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/************navigtaion left ************/
.nav {
  overflow: auto;
  width: auto;
}
.nav ul {
  float: left;
  width: 100%;
  margin: 0 auto;
  list-style: none;
}
.nav li {
  float: left;
  position: relative;
  font-family: Arial;
  font-weight: normal;
  margin: 0 9px 0 1px;
  padding: 0;
}
.nav li a {
  color: #f7f7f7;
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 10px 5px 10px 0;
  font-family: 'harvestregular', Arial;
  /*font-weight:bold;*/

  font-size: 0.95em;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -ms-transition-duration: .5s;
  transition-duration: .5s;
}
.nav li a:hover {
  color: #ff9216;
  text-decoration: none;
}
/*#nav li a:visited {color: #c6c6c6; text-decoration:none;}*/
.active a:link {
  color: #ff9216 !important;
}
.right {
  float: right;
}
.spacer10 {
  clear: both;
  display: block;
  width: 100%;
  height: 10px;
}
.spacer20 {
  clear: both;
  display: block;
  width: 100%;
  height: 20px;
}
.spacer40 {
  clear: both;
  display: block;
  width: 100%;
  height: 40px;
}
.spacer50 {
  clear: both;
  display: block;
  width: 100%;
  height: 50px;
}
.spacer60 {
  clear: both;
  display: block;
  width: 100%;
  height: 60px;
}
/*************Big boxes css styles *********/
.bigbox {
  position: relative;
  width: 275px;
  padding: 15px 10px 10px 15px;
  background: #f3f3f3;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f3f3f3 0%, #f3f3f3 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #f3f3f3));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f3f3f3 0%, #f3f3f3 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f3f3f3 0%, #f3f3f3 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f3f3f3 0%, #f3f3f3 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#f1f1f1', GradientType=0);
  /* IE6-9 */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 3px 3px #ccc;
  -webkit-box-shadow: 0px 3px 3px #ccc;
  box-shadow: 0px 3px 3px #ccc;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=120, Strength=5);
  text-rendering: optimizeLegibility;
  min-height: 237px;
  color: #535353;
  font-family: 'Droid Serif', serif;
}
.bigbox:hover {
  /*-moz-box-shadow:none;
-webkit-box-shadow: none;
box-shadow:none;*/

  background: #f7f7f7;
  /* Old browsers */
}
.buttonwrap {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.bigbox_title {
  height: 88px;
  font-size: 1.375em;
  text-align: left;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  font-family: 'Droid Sans', Arial;
}
.title_text {
  line-height: 70px;
  display: block;
  padding-right: 20px;
  padding-left: 15px;
  float: right;
  background: url(../images/boxpress.png) no-repeat left center;
}
#firsticon {
  display: block;
  background: url('../images/icons.png') no-repeat -11px -5px;
  width: 59px;
  height: 65px;
  float: left;
}
#secondicon {
  padding-top: 8px;
  display: block;
  background: url('../images/icons.png') no-repeat -11px -77px;
  width: 55px;
  height: 54px;
  float: left;
}
#thirdicon {
  padding-top: 11px;
  display: block;
  background: url('../images/icons.png') no-repeat -11px -144px;
  width: 64px;
  height: 47px;
  float: left;
}
/****************small boxes styles starts here *************/
.smallbox {
  position: relative;
  width: 200px;
  padding: 10px 10px 10px 15px;
  background: #f3f3f3;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f3f3f3 0%, #f3f3f3 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #f3f3f3));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f3f3f3 0%, #f3f3f3 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f3f3f3 0%, #f3f3f3 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f3f3f3 0%, #f3f3f3 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#f3f3f3', GradientType=0);
  /* IE6-9 */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 3px 3px #ccc;
  -webkit-box-shadow: 0px 3px 3px #ccc;
  box-shadow: 0px 3px 3px #ccc;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=120, Strength=5);
  min-height: 210px;
  text-rendering: optimizeLegibility;
  color: #535353;
  font-family: 'Droid Serif', serif;
  font-size: 0.9em;
}
.smallbox:hover {
  border: 0px solid #f4f4f4;
  background: #f7f7f7;
  -moz-box-shadow: inset 0px -1px 8px #cfcfcf;
  -webkit-box-shadow: inset 0px -1px 8px #cfcfcf;
  box-shadow: inset 0px -1px 8px #cfcfcf;
}
.smallbox_title {
  margin: 15px 0;
  height: 40px;
  font-size: 1.2em;
  text-align: left;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  font-family: 'Droid Sans', Arial;
}
.smalltitle_text {
  line-height: 40px;
  display: block;
  padding-right: 10px;
  padding-left: 23px;
  float: right;
  background: url(../images/smallboxpress.png) no-repeat left center;
}
#firsticons {
  padding-top: 9px;
  display: block;
  background: url('../images/icons.png') no-repeat -96px -130px;
  width: 29px;
  height: 22px;
  float: left;
}
#secondicons {
  padding-top: 7px;
  display: block;
  background: url('../images/icons.png') no-repeat -96px -94px;
  width: 32px;
  height: 22px;
  float: left;
}
#thirdicons {
  padding-top: 7px;
  display: block;
  background: url('../images/icons.png') no-repeat -96px -50px;
  width: 25px;
  height: 26px;
  float: left;
}
#fourthicons {
  padding-top: 6px;
  display: block;
  background: url('../images/icons.png') no-repeat -96px -4px;
  width: 32px;
  height: 29px;
  float: left;
}
/************footer icons settings here ********/
#sitemapwrap {
  overflow: hidden;
  width: 185px;
  padding-left: 10px;
  height: 230px;
}
#servicewrap {
  overflow: hidden;
  width: 320px;
  padding-left: 0px;
  height: 230px;
}
#contactwrap {
  overflow: hidden;
  width: 325px;
  padding-left: 20px;
  height: 270px;
  margin-left: 20px;
}
#contactwrap p {
  padding-top: 15px;
}
#socialwrap {
  overflow: hidden;
  width: 350px;
  padding-left: 0px;
  height: 270px;
}
.footerhead {
  color: #a1a8b0;
  font-size: 1.4em;
  letter-spacing: 1px;
  line-height: 37px;
  width: 100%;
  text-align: left;
  padding-bottom: 5px;
  background: url(../images/pressedline.png) repeat-x bottom left;
  display: block;
  overflow: hidden;
}
.nobg {
  background: none !important;
}
.footertitle {
  float: left;
  text-align: left;
}
.footerul {
  padding: 0;
  display: inline-block !important;
  padding-left: 0;
  margin-left: 0;
  padding-top: 15px !important;
  overflow: hidden;
  width: 150px;
  float: left;
}
.ulpadding {
  padding-left: 18px;
}
.contactul {
  padding: 0;
  display: inline-block !important;
  padding-left: 0;
  margin-left: 0;
  padding-top: 15px !important;
  overflow: hidden;
  width: 320px;
  float: left;
  font-size: 1.1em;
}
.footerul li,
.contactul li {
  line-height: 2;
  /*float:left;*/

  display: block;
  list-style-image: none;
  margin-left: 1px;
}
.footerul a {
  color: #f7f7f7;
  /*font-size: 1.1em;*/
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -ms-transition-duration: .5s;
  transition-duration: .5s;
}
.footerul a:hover {
  color: #f18d1a;
  text-decoration: none;
}
#icon1 {
  float: left;
  display: block;
  background: url('../images/footericons.png') no-repeat -7px -5px;
  width: 25px;
  height: 30px;
  padding-right: 10px;
}
#icon2 {
  float: left;
  display: block;
  background: url('../images/footericons.png') no-repeat -7px -55px;
  width: 34px;
  height: 32px;
  padding-right: 10px;
}
#icon3 {
  float: left;
  display: block;
  padding-top: 5px;
  background: url('../images/footericons.png') no-repeat -59px -5px;
  width: 32px;
  height: 29px;
  padding-right: 10px;
}
/***************Social icons code*************/
.social {
  display: block;
  width: 190px;
  height: 31px;
  margin: 5px 0 0 3px;
}
.social ul {
  list-style: none;
}
.social li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 15px;
  font-size: 0px;
}
.social li a {
  display: inline-block;
  height: 31px;
  float: left;
}
.social li.facebook a {
  background: url('../images/socialicons2.png') no-repeat 0 -10px;
  width: 32px;
  height: 31px;
}
.social li.facebook a:hover {
  background: url('../images/socialicons2.png') no-repeat 0 -50px;
  width: 32px;
  height: 31px;
  text-decoration: none;
}
.social li.twitter a {
  background: url('../images/socialicons2.png') no-repeat -49px -10px;
  width: 32px;
  height: 31px;
}
.social li.twitter a:hover {
  background: url('../images/socialicons2.png') no-repeat -49px -50px;
  width: 32px;
  height: 31px;
  text-decoration: none;
}
.social li.youtube a {
  background: url('../images/socialicons2.png') no-repeat -97px -10px;
  width: 32px;
  height: 31px;
}
.social li.youtube a:hover {
  background: url('../images/socialicons2.png') no-repeat -97px -50px;
  width: 32px;
  height: 31px;
  text-decoration: none;
}
.social li.google a {
  background: url('../images/socialicons2.png') no-repeat -146px -10px;
  width: 32px;
  height: 31px;
}
.social li.google a:hover {
  background: url('../images/socialicons2.png') no-repeat -146px -50px;
  width: 32px;
  height: 31px;
  text-decoration: none;
}
/*styles for dashboard */
#dashboard_wrap {
  background: url(../images/dash_wrap.png) repeat-y;
  min-height: 800px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-top: 3px solid #ec873f;
  position: relative;
  margin-top: 30px;
  margin-bottom: -100px;
}
#leftdashboard {
  height: 100%;
  overflow: hidden;
}
#rightdashboard {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 710px;
}
#rightdashboard #notifyarea {
  margin-left: -5px;
  margin-right: auto;
}
.bluelink {
  cursor: pointer;
  color: #65adda;
}
.orangelink {
  cursor: pointer;
  color: #f8a01c;
}
#nav_top {
  padding: 0;
  margin: 0;
  list-style-image: none;
  padding: 16px 0 0 170px;
}
#nav_top li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.sep {
  background: url(../images/sep_dash.png) repeat-x;
  height: 2px;
  width: 720px;
  margin-left: -10px;
  padding-bottom: 10px;
}
#info {
  position: relative;
  display: block;
  width: 220px;
}
#info img {
  width: 134px;
  height: 130px;
  padding: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #87909b;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#info p {
  font-family: "allerregular", Arial, sans-serif;
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-size: 0.875rem;
  color: #585d65;
}
#info a {
  color: #f59220;
}
/**********************left accordian menu/******************************/
#accordian {
  display: block;
  width: 220px;
  margin: 0;
  padding-top: 0px;
}
/* nav menu styles */
#nav {
  display: block;
  width: 220px;
  margin: 0;
  padding: 0 !important;
  list-style: none;
}
#nav li {
  margin: 0;
  padding: 0 !important;
  list-style-image: none !important;
}
#nav > li > a {
  display: block;
  padding-left: 10px;
  line-height: 42px;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: bold;
  color: #ededed;
  text-decoration: none;
  background: url(../images/accordian.png) repeat-x 0 -42px;
  border-top: 1px solid #595959;
  border-bottom: 1px solid #44484f;
  height: 42px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 3px #979ca3;
  outline: none !important;
}
#nav > li > a:hover,
#nav > li > a.open {
  color: #cacdd3;
  border-top: 1px solid #1f2123;
  border-bottom: 1px solid #lightGrey;
  background: url(../images/accordian.png) repeat-x 0 0;
  list-style: none;
}
#nav li ul {
  display: none;
  background: #eaeaeb;
  padding: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #989da4;
}
#nav li ul li {
  list-style: none;
  list-style-image: none;
}
#nav li ul li a {
  display: block;
  background: none;
  padding: 9px 0px;
  padding-left: 55px;
  text-decoration: none;
  color: #2d2c2c;
  font-size: 13px;
  font-size: 0.8175rem;
  background: url(../images/arrowgrey.png) no-repeat 40px 14px;
  text-shadow: 0px 0px 1px #989da4;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#nav li ul li a:hover {
  background: #ffffff url(../images/arrowgrey.png) no-repeat 10px 14px;
  text-indent: -5px;
}
.activepanel li {
  list-style: none;
}
/***********accordian icons .......................*/
#accordian_icon1 {
  display: block;
  float: left;
  background: url(../images/sprite.png) no-repeat 0 -345px;
  position: relative;
  width: 45px;
  height: 35px;
  margin-top: 5px;
  cursor: pointer;
}
#accordian_icon2 {
  display: block;
  float: left;
  background: url(../images/sprite.png) no-repeat 0 -387px;
  position: relative;
  width: 45px;
  height: 35px;
  margin-top: 9px;
  cursor: pointer;
}
#accordian_icon3 {
  display: block;
  float: left;
  background: url(../images/sprite.png) no-repeat 0 -424px;
  position: relative;
  width: 45px;
  height: 35px;
  margin-top: 8px;
  cursor: pointer;
}
#accordian_icon4 {
  display: block;
  float: left;
  background: url(../images/sprite.png) no-repeat 0 -463px;
  width: 44px;
  height: 35px;
  margin-top: 6px;
  cursor: pointer;
}
#accordian_icon5 {
  display: block;
  float: left;
  background: url(../images/sprite.png) no-repeat 0 -505px;
  width: 42px;
  height: 35px;
  margin-top: 8px;
  cursor: pointer;
}
/* notification styles */
#easyNotification {
  padding: 10px 10px;
  border: 1px solid #d4d287;
  color: #989da4;
  position: relative;
  width: 688px;
  background-color: #fdf7dd;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
  font-size: 0.8125rem;
  font-family: "allerregular", Arial, sans-serif;
}
#easyNotification span {
  float: right;
  cursor: pointer;
  color: #cacdd3;
  width: 30px;
  height: 23px;
  text-indent: -9999px;
}
.cross {
  margin-left: 5px;
  margin-top: 0;
  background: url(../images/sprite.png) no-repeat 3px -174px;
  display: block;
}
/**Steps text and images settings **/
.steps {
  margin-left: 1px;
  width: 708px;
  background-color: #E8E9E9;
  height: 135px;
  padding: 30px 0 15px 0;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
}
.step1 {
  display: block;
  background: url('../images/steps.png') no-repeat 0 0;
  width: 659px;
  height: 83px;
  margin-left: 20px;
}
.step2 {
  display: block;
  background: url('../images/steps.png') no-repeat 0 -90px;
  width: 659px;
  height: 83px;
  margin-left: 20px;
}
.step3 {
  display: block;
  background: url('../images/steps.png') no-repeat 0 -180px;
  width: 659px;
  height: 83px;
  margin-left: 20px;
}
.step4 {
  display: block;
  background: url('../images/steps.png') no-repeat 0 -270px;
  width: 659px;
  height: 83px;
  margin-left: 20px;
}
.step5 {
  display: block;
  background: url('../images/steps.png') no-repeat 0 -360px;
  width: 659px;
  height: 83px;
  margin-left: 20px;
}
#stepstext {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 21px;
}
#stepstext li {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  display: inline-block;
  width: 121px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}
#stepstext li.disabled {
  color: #989da4;
}
#stepstext li.current {
  color: #e88119;
}
/******post update box*****************/
.postbox {
  margin-left: 2px;
  position: relative;
  width: 705px;
  height: 105px;
  /*background:#E8E9E9;*/
}
.postupdate {
  margin-left: 1px;
  width: 700px;
  min-height: 55px;
  padding: 5px 2px;
  border: 1px solid #b4b7bd;
  background-color: #f9f9f9;
  color: #989da4;
  font-family: "allerregular", Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.postupdate:focus {
  color: #2d2c2c;
  border: 1px solid #989da4;
}
/************activity feed area*************/
.activitybox {
  position: relative;
  margin-left: -2px;
  width: 685px;
  color: #989da4;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
  padding: 5px 10px 15px 10px;
  font-family: "allerregular", Arial, sans-serif;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #e7e9e9 url(../images/bgtabs_black.png) repeat-x top left;
  overflow: hidden;
}
.activitybox h3 {
  display: block;
  font-family: "allerregular", Arial, sans-serif;
  color: #f9f9f9;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 5px 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}
.commentwrap {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
}
.commentwrap img {
  float: left;
  padding: 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #d4d7dc;
  box-shadow: 0 1px 2px #404040;
  margin-top: 5px;
  margin-left: 2px;
}
.commentwrap .imgactive {
  background-color: #ededed !important;
}
.commentwrap .commentbox {
  position: relative;
  display: block;
  float: right;
  width: 564px;
  min-height: 120px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #585d65;
  border: 1px solid #d0d2d6;
  background-color: #fafafa;
  padding: 10px 5px 5px 0;
}
.commentwrap .bubble_arrow {
  background: url(../images/speecharrow.png) no-repeat;
  display: block;
  float: left;
  height: 32px;
  width: 25px;
  margin-left: -15px;
  margin-top: 17px;
}
.comment_title {
  color: #4d85ac;
  font-family: "allerregular", Arial, sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
}
.comment_date {
  color: #5c91b6;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Arial, sans-serif;
}
.comment_time {
  color: #3d6a89;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Arial, sans-serif;
}
.number_comments {
  color: #ec873f;
  display: inline-block;
  float: right;
  text-align: right;
  margin-top: 3px;
  margin-right: 12px;
  padding-left: 35px;
  background: url(../images/sprite.png) no-repeat 7px -27px;
  line-height: 14px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
}
.likebox_activity {
  display: block;
  position: relative;
  float: right;
  width: 490px;
}
.topcomment_nfl p {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-size: 0.8175rem;
  color: #87909b;
}
.navact {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0px;
  overflow: auto;
  position: relative;
  float: right;
}
.navact li {
  margin: 0;
  padding: 0;
  display: block;
  padding: 10px 2px;
  float: left;
  text-align: left;
  text-indent: 22px;
  margin-left: 5px;
  margin-right: 8px;
  font-size: 14px;
  font-size: 0.875rem;
}
.navact li:last-child {
  margin-right: 3px;
}
.navact li a {
  display: block;
  text-decoration: none;
  padding: 0;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #2d2c2c;
  font-family: "allerregular", Arial, sans-serif;
  float: right;
}
.navact li a:hover {
  color: #ec873f;
  text-decoration: none;
}
.navact li a:visited {
  color: #999;
  text-decoration: none;
}
.btn_more_activity {
  display: inline-block;
  margin-left: 5px;
  float: left;
  color: #2d2c2c;
  font-size: 13px;
  font-size: 0.8175rem;
}
.btn_more_activity span {
  background: url(../images/arrow_act.png) no-repeat;
  display: block;
  float: right;
  height: 8px;
  width: 9px;
  cursor: pointer;
  margin-top: 7px;
  margin-left: 4px;
}
.white {
  color: #fafafa !important;
}
/****************************News tabs area*******************/
.newsbox {
  position: relative;
  margin-left: -2px;
  width: 685px;
  color: #585d65;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
  padding: 5px 10px 15px 10px;
  font-family: "allerregular", Arial, sans-serif;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #e7e9e9 url(../images/bgtabs_black.png) repeat-x top left;
  overflow: hidden;
}
.newsbox h3 {
  display: block;
  font-family: "allerregular", Arial, sans-serif;
  color: #f9f9f9;
  font-size: 0.875rem;
  padding: 5px 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}
.newswrap {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #fafafa;
  padding: 5px;
  /*border: 1px solid #b4b7bd;*/
}
.newswrap img {
  float: left;
  padding: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #d4d7dc;
  margin-top: 5px;
  margin-left: 2px;
  border: 1px solid #b4b7bd;
}
.news_title {
  color: #4d85ac;
  font-family: "allerregular", Arial, sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  display: block;
  float: left;
}
.news_date {
  color: #355c77;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Arial, sans-serif;
  display: block;
  clear: left;
  float: left;
}
.topnews {
  display: block;
  width: 580px;
  float: right;
  padding: 5px 0 0 5px;
}
.topnews p {
  font-family: Arial, sans-serif;
  clear: left;
  float: left;
  font-size: 13px;
  font-size: 0.8175rem;
  color: #87909b;
  padding-right: 3px;
}
/***************news tabs**********/
ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  width: 100%;
}
ul.tabs li {
  position: relative;
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0 20px;
  height: 33px;
  line-height: 32px;
  border-left: none;
  overflow: hidden;
  text-align: left;
  font-size: 13px;
  font-size: 0.8175rem;
  margin-right: 7px;
  margin-top: 1px;
}
ul.tabs li:hover {
  color: #fff;
  background: url(../images/pressedtab2.png) repeat-x top left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: inset 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 1px #000;
  box-shadow: inset 0 1px 1px #000;
}
ul.tabs li.active {
  color: #f2f2f2;
  background: url(../images/pressedtab2.png) repeat-x top left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  /*
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjMWYyNCIgc3RvcC1vcGFjaXR5PSIwLjUyIi8+CjxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMxYzFmMjQiIHN0b3Atb3BhY2l0eT0iMC41MiIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NzVkNjUiIHN0b3Atb3BhY2l0eT0iMC41MiIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
background-image: -moz-linear-gradient(bottom, rgba(28,31,37,.52) 0%, rgba(28,31,37,.52) 1.05%, rgba(88,93,101,.52) 100%);
background-image: -o-linear-gradient(bottom, rgba(28,31,37,.52) 0%, rgba(28,31,37,.52) 1.05%, rgba(88,93,101,.52) 100%);
background-image: -webkit-linear-gradient(bottom, rgba(28,31,37,.52) 0%, rgba(28,31,37,.52) 1.05%, rgba(88,93,101,.52) 100%);
background-image: linear-gradient(bottom, rgba(28,31,37,.52) 0%, rgba(28,31,37,.52) 1.05%, rgba(88,93,101,.52) 100%);
*/

  -moz-box-shadow: inset 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 1px #000;
  box-shadow: inset 0 1px 1px #000;
}
.tab_container {
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
}
.tab_content {
  padding-top: 20px;
  font-size: 1.2em;
  display: none;
}
/**************search box*****************/
/*#searchbox {
  width: 310px;
  display: block;
  position: absolute;
  right: 10px;
  top: 58px;
}
#search-page-border {
  float: left;
  background: #cccccc url(../images/searchsprite.png) top left repeat-x;
  height: 31px;
  width: 268px;
}
.search-terms {
  font-size: 13px;
  font-size: 0.8175rem;
  border: none;
  background: none;
  height: 30px;
  padding-left: 5px;
  display: block;
  float: left;
  width: 138px;
  line-height: 29px;
  color: #848b99;
  font-family: .aller;
}*/
#search-which,
select option {
  font-size: 13 px;
}
/*#search-submit {
  padding: 2px;
  margin-left: 0px;
  font-size: 0px;
  float: left;
  background: url(../images/searchsprite.png) -40px -31px repeat-x;
  border: none;
  width: 36px;
  height: 31px;
  margin-top: 0;
}
.accessibly-hidden {
  left: -999em;
  position: absolute;
}*/
/********************NFL profile page styles starts here*****/
#wrapinner_nfl {
  background: transparent;
  overflow: auto;
  padding-bottom: 1px;
  /*size of the footer height */

  overflow: visible;
}
#nflprofile_wrap {
  /*background: url(../images/profile/sportsbg.jpg) no-repeat fixed center;
	min-height: 1140px;
	margin-left: auto;
	margin-right: auto;*/

  margin: 0;
  background: url(../images/profile/sportsbg.jpg) center no-repeat;
  -ms-behavior: url(/backgroundsize.min.htc);
  background-size: cover;
}
#nflcontainer {
  position: relative;
  height: 530px;
  border: 1px solid #575d65;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: url(../images/profile/nflcontainerbg.jpg) repeat-x;
  margin: -100px auto 100px auto;
  padding-top: 9px;
  /*background-color: #878f9b;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDk1MCA1MTUiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk1MCIgaGVpZ2h0PSI1MTUiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
background-image: linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
*/
}
.sportslogo {
  position: relative;
  margin-left: 402.5px;
  display: block;
  z-index: 900;
  width: 155px;
  top: -45px;
  padding-bottom: 15px;
}
#nfltop_white {
  height: 502px;
  border: 1px solid #575d65;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fafafa;
  padding: 0;
  position: relative;
}
#nflwhite_left {
  width: 441px;
  /*background: url(../images/profile/vpress.png) repeat-y top right;*/

  padding: 15px 0px 15px 15px;
}
#nflwhite_right {
  width: 446px;
  padding: 15px 15px 15px 1px;
}
/***************accept area**********************************/
.charities_area {
  position: absolute;
  width: 409px;
  height: 34px;
  background: url(../images/profile/bgaccept.png) no-repeat;
  bottom: -34px;
  right: 0;
}
.navaccept_nfl {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 2px 0 0 64px;
  overflow: auto;
  position: relative;
}
.navaccept_nfl li {
  margin: 0;
  padding: 0;
  list-style-image: none;
  display: inline-block;
  padding: 7px 5px 7px 5px;
  float: left;
}
.navaccept_nfl li a {
  display: block;
  /*	border:1px solid blue;*/

  text-decoration: none;
  padding: 0;
  text-align: left;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #f7f7f7;
  font-family: allerregular, arial;
  font-size: 14px;
  font-size: 0.875rem;
}
.navaccept_nfl li a:hover {
  color: #988f9f;
  text-decoration: none;
}
.navaccept_nfl li a:visited {
  color: #999;
  text-decoration: none;
}
.linkbtn {
  float: left;
  display: block;
  text-align: right;
  cursor: pointer;
}
.linkfan {
  background: url('../images/profile/btnaccept2.png') no-repeat -3px -5px;
  height: 20px;
  width: 120px;
  text-indent: 25px;
  line-height: 20px;
  margin-top: -3px;
}
.linkfan:hover {
  background: url('../images/profile/btnaccept2.png') no-repeat -3px -28px;
  height: 20px;
}
.linkshare1 {
  background: url('../images/profile/btnaccept2.png') no-repeat -134px -5px;
  width: 70px;
  height: 16px;
  text-indent: 25px;
  line-height: 16px;
  margin-top: -1px;
}
.linkshare1:hover {
  background: url('../images/profile/btnaccept2.png') no-repeat -134px -28px;
  height: 16px;
}
.linkdonate1 {
  background: url('../images/profile/btnaccept2.png') no-repeat -221px -6px;
  width: 120px;
  height: 18px;
  text-indent: 28px;
  line-height: 15px;
}
.linkdonate1:hover {
  background: url('../images/profile/btnaccept2.png') no-repeat -221px -29px;
  height: 18px;
}
#pro_summary {
  position: relative;
  display: block;
  overflow: visible;
  float: left;
  width: 270px;
}
.profile_details {
  clear: both;
  float: left;
  width: 440px;
  color: #575d65;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "allerregular", Arial, sans-serif;
  padding-top: 5px;
  display: block;
}
.profile_img {
  width: 110px;
  height: 105px;
  padding: 2px;
  display: block;
  float: left;
  margin: 5px 15px 10px 0;
}
.imgshadow_light {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.38), inset 0 2px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.38), inset 0 2px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.38), inset 0 2px 4px rgba(0, 0, 0, 0.75);
  border: 1px solid #fff;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.imgshadow_light:hover {
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.38), inset 0 2px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.38), inset 0 2px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.38), inset 0 2px 4px rgba(0, 0, 0, 0.75);
}
.imgshadow_dark {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.8), inset 0 2px 4px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.8), inset 0 2px 4px rgba(0, 0, 0, 0.9);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.8), inset 0 2px 4px rgba(0, 0, 0, 0.9);
  border: 1px solid #cacdd3;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.imgshadow_dark:hover {
  -moz-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.8), inset 0 2px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.8), inset 0 2px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.8), inset 0 2px 4px rgba(0, 0, 0, 0.75);
}
.nfltitle {
  display: block;
  color: #262626;
  font-family: "Harvest", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  text-shadow: 0 1px 2px #cacdd3;
}
.nflplace {
  display: block;
  color: #585d65;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 5px 0 2px 0;
}
#promo_area {
  position: relative;
  float: left;
  clear: both;
  display: block;
  margin-top: -25px;
  background: url(../images/profile/sales.png) no-repeat;
  height: 125px;
  margin-left: -41px;
  padding-left: 40px;
  width: 480px;
  /*border: 1px solid #222025;
background-color: #212121;
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDQ4NSAxMjEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMiIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjQ4NSIgaGVpZ2h0PSIxMjEiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%);
background-image: -o-linear-gradient(bottom, rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%);
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%);
background-image: linear-gradient(bottom, rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%);*/

}
#promo_area p {
  padding: 0 10px 5px 5px;
  color: #ededed;
  font-size: 13px;
  font-size: 0.8175rem;
  display: block;
  float: left;
  width: 275px;
}
#btnwrap_nfl {
  display: block;
  float: left;
  width: 150px;
  margin-top: -23px;
  margin-left: 5px;
}
.imageslist_container {
  display: block;
  overflow: hidden;
  padding: 25px 0 20px 0;
}
.imageslist {
  margin: 0;
  padding: 0;
  list-style: none;
}
.imageslist li {
  display: block;
  float: left;
 /* margin-right: 11px;*/
 margin:0 11px 0 0;
 padding:0;
  width: 100px;
  font-size: 13px;
  font-size: 0.8175rem;
  text-align: center;
}
.imageslist li span {
  display: block;
  margin-top: 5px;
}
.imageslist li a {
  color: #484d56;
  text-decoration: none;
  font-family: "allerregular", Arial, sans-serif;
  font-weight: 700;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.imageslist li a:hover {
  color: #ec873f;
}
.imageslist li:last-child {
  margin-right: 0;
}
#baselink ul {
  margin: 0 5px;
  padding: 0;
  color: #000;
  /* Base text color for the menu */
}
#baselink ul li {
  float: left;
  list-style: none;
  font-family: "allerregular", Arial, sans-serif;
  /* Makes the list items go horizontally in lieu of default vertical display */
}
#baselink ul li:after {
  content: "|";
  /* Or go Facebook style and use "·" (the interpunct character) for separators */

  color: #fff;
  /* You may want to make the separators a bit more subtle than the base text color */
}
#baselink ul li:last-child:after {
  content: "";
  /* No separator for the last item in the list */
}
#baselink ul li a {
  margin: 0 8px;
  /* Set margins around the links */

  font-size: 13px;
  font-size: 0.8175rem;
  color: #ededed;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#baselink ul li a:hover {
  margin: 0 8px;
  /* Set margins around the links */

  font-size: 13px;
  font-size: 0.8175rem;
  color: #f8a01c;
}
/****************Lower NFL portion css**********************/
#nfllower_container {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: -30px;
  background: white;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  min-height: 700px;
  padding: 0 0 0 7px;
}
#nfllower_left {
  display: block;
  overflow: hidden;
  border-right: 1px solid #e9eaec;
  padding: 7px 0;
}
#nfllower_right {
  display: block;
  overflow: hidden;
  padding: 7px 0;
  width: 402px;
  margin-left: -1px;
  padding-right: 0 !important;
}
.nflpostbox {
  position: relative;
  width: 530px;
  height: 126px;
  /*background:#E8E9E9;*/
}
.nflpostupdate {
  margin-left: 1px;
  width: 523px;
 /* min-height: 40px;*/
  padding: 5px 2px;
  /*border: 1px solid #979ca3;*/
  background-color: #f9f9f9;
  height:60px !important;
  color: #989da4;
  font-family: "allerregular", Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: inset 0 1px 3px rgba(135, 144, 155, 0.75);
  -webkit-box-shadow: inset 0 1px 3px rgba(135, 144, 155, 0.75);
  box-shadow: inset 0 1px 3px rgba(135, 144, 155, 0.75);
}
.nflpostupdate:focus {
  color: #2d2c2c;
  border: 1px solid #fafafa;
  -moz-box-shadow: inset 0 1px 2px rgba(65, 65, 65, 0.5);
  -webkit-box-shadow: inset 0 1px 2px rgba(65, 65, 65, 0.5);
  box-shadow: inset 0 1px 2px rgba(65, 65, 65, 0.5);
}
/************activity feed area*************/
.activitybox_nfl {
  position: relative;
  margin-left: 0;
  width: 513px;
  color: #989da4;
  padding: 5px 10px 15px 10px;
  font-family: "allerregular", Arial, sans-serif;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #87909b url(../images/bgtabs_black.png) repeat-x top left;
  overflow: hidden;
}
.activitybox_nfl h3 {
  display: block;
  font-family: "allerregular", Arial, sans-serif;
  color: #f9f9f9;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 5px 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}
.commentwrap_nfl {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  /*border: 1px solid #d0d2d6;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fafafa !important;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.commentwrap_nfl img {
  float: left;
  padding: 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #d4d7dc;
  box-shadow: 0 1px 2px #404040;
  margin-top: 10px;
  margin-left: 8px;
}
.commentwrap_nfl .imgactive {
  background-color: #ededed !important;
}
.commentwrap_nfl .commentbox_nfl {
  position: relative;
  display: block;
  float: right;
  width: 410px;
  min-height: 120px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #585d65;
  padding: 10px 2px 0px 0;
}
.comment_title {
  color: #4d85ac;
  font-family: "allerregular", Arial, sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
}
.comment_date_nfl {
  color: #5c91b6;
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  float: left;
  font-family: Arial, sans-serif;
}
.comment_time {
  color: #3d6a89;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Arial, sans-serif;
}
.number_comments {
  color: #ec873f;
  display: inline-block;
  float: right;
  text-align: right;
  margin-top: 3px;
  margin-right: 12px;
  padding-left: 35px;
  background: url(../images/sprite.png) no-repeat 7px -27px;
  line-height: 14px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
}
.likebox_activity_nfl {
  display: block;
  position: relative;
  float: right;
  width: 410px;
  margin-top: -14px;
}
.topcomment p {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-size: 0.8175rem;
  color: #87909b;
}
.ad {
  width: auto;
  margin: 25px auto;
  padding: 5px;
  display: block;
}
.ad a,
.ad img {
  display: block;
  margin: 0 auto;
}
/****************************News tabs area NFL*******************/
.newsbox_nfl {
  position: relative;
  margin-left: 0;
  width: 513px;
  color: #87909b;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
  padding: 5px 10px 15px 10px;
  font-family: "allerregular", Arial, sans-serif;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #87909b url(../images/bgtabs_black.png) repeat-x top left;
  overflow: hidden;
}
.newsbox_nfl h3 {
  display: block;
  font-family: "allerregular", Arial, sans-serif;
  color: #f9f9f9;
  font-size: 0.875rem;
  padding: 5px 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}
.topnews_nfl {
  display: block;
  width: 405px;
  float: right;
  padding: 5px 0 0 2px;
}
.topnews_nfl p {
  font-family: Arial, sans-serif;
  clear: left;
  float: left;
  font-size: 13px;
  font-size: 0.8175rem;
  color: #87909b;
  padding-right: 3px;
}
/**************Q-ed box styles***********/
.qedbox {
  position: relative;
  margin-left: 0;
  width: 390px;
  color: #989da4;
  padding: 5px 6px 15px 6px;
  font-family: "allerregular", Arial, sans-serif;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #87909b url(../images/bgtabs_black.png) repeat-x top left;
  overflow: hidden;
}
.qedbox h3 {
  display: block;
  font-family: "allerregular", Arial, sans-serif;
  color: #f9f9f9;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 5px 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}
.commentwrap_small {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  /*border: 1px solid #d0d2d6;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fafafa !important;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.commentwrap_small img {
  clear: both;
  float: left;
  padding: 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #d4d7dc;
  box-shadow: 0 1px 1px #404040;
  margin-top: 10px;
  margin-left: 8px;
}
.commentwrap_small .imgactive {
  background-color: #ededed !important;
}
.commentwrap_small .commentbox_small {
  position: relative;
  display: block;
  float: right;
  width: 280px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #585d65;
  padding: 7px 7px 0 0;
}
.commentwrap_small .commentbox_small p {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-size: 0.8175rem;
  color: #87909b;
}
.topcomment_campaign {
  display: block;
  padding-left: 6px;
  padding-top: 2px;
}
.number_comments_small {
  color: #ec873f;
  display: block;
  float: right;
  text-align: right;
  margin-top: 4px;
  margin-right: 6px;
  padding-left: 35px;
  background: url(../images/sprite.png) no-repeat 7px -27px;
  line-height: 14px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
}
.likebox_activity_small {
  display: block;
  position: relative;
  float: right;
  bottom: 0;
  right: 0;
  width: 380px;
  margin-top: -14px;
}
.navact_small {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0px;
  overflow: auto;
  position: relative;
  float: right;
}
.navact_small li {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 8px 0;
  float: left;
  text-align: right;
  text-indent: 1.5rem;
  margin-left: 5px;
  margin-right: 0;
  font-size: 14px;
  font-size: 0.875rem;
}
.navact_small li a {
  display: block;
  text-decoration: none;
  padding: 0;
  color: #2d2c2c;
  font-family: "allerregular", Arial, sans-serif;
}
.navact_small li a:hover {
  color: #ec873f;
  text-decoration: none;
}
.navact_small li a:visited {
  color: #999;
  text-decoration: none;
}
/**********Friends and fan box**********************/
.livesin,
.relatedto {
  color: #5fa5d5;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-size: 0.8175rem;
}
/***************member profile page styles starts here ************/
#member_profile_wrap {
  background: url(../images/zigzags1.png) repeat;
  margin-bottom: -63px;
  margin-top: 2px;
}
#member_container {
  position: relative;
  height: 485px;
  border-top: none;
  border-left: 1px solid #575d65;
  border-right: 1px solid #575d65;
  border-bottom: 1px solid #575d65;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: url(../images/profile/nflcontainerbg.jpg) repeat-x;
  margin: -1px auto 100px auto;
  padding-top: 9px;
}
#member_bottom {
  position: absolute;
  top: 309px;
  left: 0;
  height: 155px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fafafa;
  border: 1px solid #3d4147;
  background-color: #f1f1f1;
  -moz-box-shadow: inset 0 0 3px #252525;
  -webkit-box-shadow: inset 0 0 3px #252525;
  box-shadow: inset 0 0 3px #252525;
}
/***************accept area**********************************/
.members_area {
  position: absolute;
  width: 409px;
  height: 34px;
  background: url(../images/profile/bgaccept.png) no-repeat;
  bottom: -34px;
  right: 3px;
}
.navaccept_member {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 2px 0 0 64px;
  overflow: auto;
  position: relative;
}
.navaccept_member li {
  margin: 0;
  padding: 0;
  list-style-image: none;
  display: inline-block;
  padding: 7px 5px 7px 5px;
  float: left;
}
.navaccept_member li a {
  display: block;
  /*	border:1px solid blue;*/

  text-decoration: none;
  padding: 0;
  text-align: left;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #f7f7f7;
  font-family: allerregular, arial;
  font-size: 14px;
  font-size: 0.875rem;
}
.navaccept_member li a:hover {
  color: #988f9f;
  text-decoration: none;
}
.navaccept_member li a:visited {
  color: #999;
  text-decoration: none;
}
.linkbtn {
  float: left;
  display: block;
  text-align: right;
  cursor: pointer;
}
.linkmessage {
  background: url('../images/profile/btnaccept2.png') no-repeat -384px -4px;
  height: 14px;
  width: 120px;
  text-indent: 25px;
  line-height: 16px;
  margin-top: 0px;
}
.linkmessage:hover {
  background: url('../images/profile/btnaccept2.png') no-repeat -384px -31px;
  height: 14px;
}
#member_profile {
  height: 0px;
  /*border-left: 1px solid #d4d7dc;
  border-right: 1px solid #d4d7dc;
  border-bottom: 1px solid #d4d7dc;*/
  border-top: none;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  /*background-color: #fff;*/
  width: 938px !important;
  padding: 0;
  margin: 0;
  margin-top: -9px;
  }
#member_summary {
  position: absolute;
  display: block;
  overflow: visible;
  top: 175px;
  width: 500px;
  left: 135px; z-index: 999;
}
.member_title {
  float: left;
  width: auto;
  color: #fafafa;
  font-size: 18px;
  /*font-size: 1.5rem;*/
  font-family: 'harvestregular', Arial;
  padding: 0 8px 0 8px;
  display: block;
  background: #87909b;
  margin-top: 6px;
}
.member_place {
  clear: left;
  float: left;
  width: auto;
  color: #fafafa;
  padding: 2px 8px 2px 8px;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "allerregular", Arial, sans-serif;
  background: #2c2b2b;
}
.member_points {
  clear: left;
  float: left;
  width: auto;
  color: #fafafa;
  padding: 2px 8px 2px 8px;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "allerregular", Arial, sans-serif;
  background: #2c2b2b;
}
.member_img {
  padding: 0;
  display: block;
  position: absolute;
  top: 180px;
  left: 25px;
  width: 101px;
  height: 101px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; z-index: 999;
  /* Prevent background color leak outs */

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #262626;
  -moz-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.75), inset 0 2px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.75), inset 0 2px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.75), inset 0 2px 4px rgba(0, 0, 0, 0.75);
}
.imageslist_container_member {
  float: left;
  display: block;
  overflow: hidden;
  width: 434px;
  padding: 20px 11px 20px 17px;
}
.baselink_position {
  position: absolute;
  bottom: 2px;
  left: 2px;
  display: block;
}
