.12px {
  font-size: 12px;
  font-size: 0.75rem;
}
.13px {
  font-size: 13px;
  font-size: 0.8175rem;
}
.14px {
  font-size: 14px;
  font-size: 0.875rem;
}
.15px {
  font-size: 15px;
  font-size: 0.9375rem;
}
.18px {
  font-size: 18px;
  font-size: 1.125rem;
}
.24px {
  font-size: 24px;
  font-size: 1.5rem;
}
.automargin {
  margin-left: auto;
  margin-right: auto;
}
.innershadow {
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.9);
}
/*Transition*/
.x {
  background-repeat: repeat-x;
}
/*fonts variables*/
.fontbutton {
  font-size: 0.9em;
  font-family: 'allerregular', Arial;
}
.driodbutton {
  font-size: 0.8125rem;
  font-family: 'Driod Sans', Arial;
  font-weight: 800;
}
/*checking styles*/
.chk {
  border: 1px solid red;
}
.chk1 {
  background-color: #666;
}
